$primary:       #113284 !default;
$green:         #52B788 !default;
$yellow:        #FECD00 !default;
$dark:          #030928 !default;
$gray:          #919191 !default;
$light-gray:    #BABABA !default;
