ADMIN_AUTH_API_URL="https://comma.local/api/v1/auth/admins"
ADMIN_API_URL="https://comma.local/api/v1/admins"
COMMON_API_URL="https://comma.local/api/v1/common"
GENERAL_API_URL="https://comma.local/api/v1/general"
NUXT_PUBLIC_GA_ID=""
